@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap');




.navbar-full{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 12px;
    background: rgba(12, 0, 43, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    transition: background 0.3s ease;

}
.navbar-items:hover {
    color: #FFD700;
    transform: scale(1.05);
    transition: all 0.2s ease;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-around;
}
.navbar-parent{
    color: white;
    margin: 24px;
    
}
.nav-left{
    display: flex;
    padding: 12px;
}

.name{
    margin-left: 12px;
}

.navbar-items {
    cursor: pointer;
    text-decoration: none;
    color: rgb(243, 232, 232);
    padding: 12px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: large;
    transition: all 0.2s ease;
}
.hello{
    margin-top: 120px;
    margin-left: 300px;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
}
.intro-name{
    margin-left: 135px;
    /* margin-top: 24px; */
    font-size: 90px;
    color: rgb(211, 211, 90);
    font-family: 'Playfair Display', serif;
}
.para{
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
    width: 900px;
    font-family: 'Roboto', sans-serif;
}
.img{
    border-radius: 50%;
    margin-left: 110px;
    margin-top: 130px;
    border: 3px solid #84ff01;
    width: 350px;
}
.resume{
    margin-left: 470px;
    border: 2px solid green;
    border-radius: 20px;
    padding: 20px;
    background-color: #07a2a5;
    color: white;
    font-weight: 800;
    font-size: larger;
}

.skills{
    font-size: 64px;
    margin-top: 180px;
    text-align: center;
    font-weight: 500;
}

.skill-elements{
    width: 570px;
    height: 490px;
    border-radius: 3%;
    border: 2px solid #1f8c8c;
    box-shadow: 0 0 15px #00ffff55;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

}
.text-center-align{
    text-align: center;
}
.skills-grid{
    display: grid;
  grid-template-columns: auto auto ;
  justify-content: space-around;
  margin-top: 30px;
  column-gap: 90px;
  row-gap: 90px;
  
}
.python-skill-image{
    width: 72px;

}
.python-skill-image-1{
    width: 50px;
    height: 69px;

}
.python-skill-image-2{
    width: 170px;
    height: 70px;

}
.python-skill-image-3{
    width: 100px;
    height: 66px;

}
.skill-text{
    margin-top: 25px;
    justify-content: center;   
    font-size: 20px;
}
.skill-containers{
    display: flex;
    flex-direction: column;
    align-items: center;
}